.background--sailboat {
    background: url("../images/sailboat.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.welcome-text {
    color: #3A3F55;
}

.welcome-text p {
	font-size: 25px;
}

.btn-chatlyfe {
	background-color: #3A3F55;
	border-color: transparent;
}

.btn-chatlyfe:hover{
	background-color: #63C1C1;
	border-color: transparent;
}

.header img {
    float: right;
}
