.background--sailboat {
    background: url("../images/sailboat.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.welcome-text {
    color: #3A3F55;
}

.welcome-text p {
	font-size: 25px;
}

.btn-chatlyfe {
	background-color: #3A3F55;
	border-color: transparent;
}

.btn-chatlyfe:hover{
	background-color: #63C1C1;
	border-color: transparent;
}

.header img {
    float: right;
}

/*===========================================*/

/*Albert*/
/*Start of Settings Page*/

#settingsAvatar {
	position: absolute;
	border-radius: 50%;
	max-height: 15%;
	margin-top: 5px;
	margin-left: 8%;
    z-index: 1;
}
#settingsBody, #settingsHtml {
	height:100%;
	margin: 0;
	overflow: hidden;
}

#settingsBody {
	background: url("../images/3.jpg") no-repeat center center;  /* temporary */
	background-size: cover;
}

#settingsHeader {

	background-color: #539BDE;	/*proper color or image for header to be determined */
}

#settingsContainer {
	padding-top: 125px;
}

.logImg {
	float: right;
	margin-top: -65px;
	margin-right: 85px;
}
.setH2 {
	color: #3A3F55;
	font-size: 35px;
	margin-top: 85px;
	margin-left: 100px;
}
/*End of Settings Page
