{% extends ':layouts:user-sidebar.html.twig' %}

{% block layout_body %}
    <h1 class="h2">User Settings</h1>

    <p>Got something you need to change for your account? This is the place to do it.</p>

    <p>
        <a href="{{ path('fos_user_change_password') }}"
           class="btn btn-primary mr-3"
           role="button"
        >
            Change Password
        </a>

        <a href="{{ path('fos_user_profile_edit') }}"
           class="btn btn-primary mr-3"
           role="button"
        >
            Edit Account
        </a>

        <a href="{{ path('delete_user') }}"
           class="btn btn-warning"
           role="button"
        >
            Delete Account
        </a>
    </p>
{% endblock %}
