{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row content">
            <aside class="col-sm-auto hidden-xs c-sidebar">
                <div class="d-flex flex-row">
                    {% include '::navbar.html.twig' with { myChannels: myChannels | default([]) } %}
                </div>
            </aside>

            <div class="col-sm p-4 full-height">
                {% block layout_body %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
