<h2>Recent</h2>
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
    </li>
    {% for channel in myChannels %}
        <li class="nav-item">
            <a class="nav-link" href="#">{{ channel.name }}</a>
        </li>
    {% endfor %}

    <li class="nav-item">
        <hr>
    </li>
    <li class="nav-item">
        <a href="{{ path('fos_user_change_password') }}" class="nav-link">Change Password</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('fos_user_profile_edit') }}" class="nav-link">Edit Account</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('fos_user_security_logout') }}" class="nav-link">Logout</a>
    </li>
</ul>