{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center">
        <h1>Chatlyfe is currently under construction. Please feel free to check back soon for updates</h1>

        <img src="{{ asset('assets/images/jack.gif') }}">
    </div>
{% endblock %}
