.s-messenger {
    height: 100%;
}

.c-messenger {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.c-messenger__viewer {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.c-messenge__author {
    font-size: 0.9em;
}
