{% extends 'base.html.twig' %}

{% block title %}
    ChatLyfe - Enjoy your chat with everyone
{% endblock %}

{% block body %}
    <div class="background background--sailboat py-5">
        <div class="container">
            <div class="header">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('assets/images/logo.png') }}" alt="ChatLyfe logo" />
                </a>
            </div>

            <div class="welcome-text">
                <h1 class="mt-0">ChatLyfe</h1>
                <p>Where everyone enjoys a good chat!</p>
            </div>

            <div class="p-2">
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-secondary btn-chatlyfe m-1">Login</a>
                <br>
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-secondary btn-chatlyfe m-1">Create an Account</a>
            </div>
        </div>
    </div>
{% endblock %}
