{% extends 'base.html.twig' %}

{% block title %}
    ChatLyfe - Enjoy your chat with everyone
{% endblock %}

{% block body %}
    {% include '::navbar.html.twig' %}

    <div class="container-fluid py-2">
        <div class="row content">
            <aside class="col-sm-3 hidden-xs">
                <h2>Recent</h2>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    {% for channel in myChannels %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ channel.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </aside>

            <div class="col-sm-9">
                <div class="row">
                    {% for channel in allChannels %}
                        <div class="col-sm-3">
                            <a href="#"
                               class="btn btn-primary--chatlyfe text-center py-3 d-block"
                            >
                                <p class="m-0"><strong>{{ channel.name }}</strong></p>
                                <span>{{ channel.memberCount }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
