{% extends ':layouts:user-sidebar.html.twig' %}

{% block title %}
    ChatLyfe - Enjoy your chat with everyone
{% endblock %}

{% block layout_body %}
    <div class="border-bottom pb-4 mb-0 text-right">
        <a href="{{ path('create_chat') }}" class="btn btn-primary">Create Channel</a>
    </div>
    <div>
        {% for channel in allChannels %}
            <article class="c-channel border-bottom px-2">
                <a href="{{ path('view_chat', { id: channel.id }) }}"
                   class="py-1 d-block"
                >
                    <p class="m-0"><strong>#{{ channel.name | lower}}</strong></p>
                    <p class="m-0">{{ channel.topic }}</p>
                </a>
            </article>
        {% endfor %}
    </div>
{% endblock %}
